@mixin flex($justify, $align, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
  }
  
  @mixin fit-image {
    width: 500px;
    height: 330px;
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }